.col-md-9 {
	padding: 0;
	height:100%
}

.col-md-3 {
	padding: 0;
	height:100%
}

.row {
	height: 100%;
}

.form {
	margin-left: auto;
}

.toolBar {
	width: 100%;
	margin: 0 auto;
}

.content-area {
	height: 100%;
	position:relative;
}

.avatar {
	margin: 10px;
}

.messageListItem {
	text-align: left;
}

.msgBubble {
	background-color: green;
	margin: 10px;
	padding: 15px;
	
	display: inline-block;
	border-radius: 25px;
}

.msgIn {
	position: absolute; 
	bottom: 0;
}

.header {
	height: 7%;
}

.content {
	height: 93%;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.image {
    height: 280px;
    width: 290px;
    position: relative;

    margin: 0 auto;
    transition: box-shadow .3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
    cursor: pointer;
}

.modaler {
	text-align: center;
	width: 400px;
}